
.menu{
  display: none;
  list-style: none;
  padding: 0;


}

.menu-icon{
  display: block;
  cursor: pointer;
}
.menu.open{
  display: block;
}

@media (max-width:768px) {
  .menu-icon{
    display: block;
  }
  .menu{
    display: none;
    background-color: rgb(91, 67, 67);
    position: absolute;
    top: 40px;
    right: 0;
    width: 100%;
  }
  .menu li{
    padding: 10px;
    color: black;
  }
}



.light-them{
  background-color: white;
  color: black;
}

.dark-them{
  background-color: black;
  color: white;
}